body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 120%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    background-image: url( https://source.unsplash.com/1920x1080/?);

}

.card{
    background: #000000d0;
    color: rgb(253, 253, 253);
    padding: 2em;
    width: 100%;
    max-width: 420px;
    border-radius: 30px;
    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
   

    
}

button{
    margin:0.5em ;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    transition: 0.2s;
}
button:hover{
     background-color:#fff8f82b;
    cursor: pointer;
    


}
.searchbar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    color: azure;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}
.temp{
    margin: 0;
    margin-bottom: 8px;
}
.description{
     margin-left: 8px;
    text-transform: capitalize;


}
.flex{
    display: flex;
    align-items: center;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading::after{
    visibility: visible;
    content: "Loading";
    color: antiquewhite;
    position: absolute;
}